{% extends 'base.html' %}

{% load static %}


{% block extrahead %}

{% endblock extrahead %}


{% block title %}
About
{% endblock title %}



{% block content%}
    <section class="page-section about-heading">
        <div class="container">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'sonia/assets/img/about.jpg' %} " alt="..." />
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Mots de la Directrice</span>
                                <span class="section-heading-lower"></span>
                            </h2>
                            <p>Mon nom est Sokhna Hann dit Sonia, agée d'une trentaine d'années, mère et entrepreneure. 
                                Ma passion est la cuisine. C'est en cuisinant que je concoctais des marinades pour moi-même, 
                                ma maison. Après j'ai commencé à les commercialiser durant les grands évènements. 
                                Remarquant que j'avais des clients constants qui n'hésitaient à me redemander lorsque les 
                                marinades s'épuisait. C'est là que m'est venu l'idée de les commercialiser. Ainsi j'ai commencé 
                                à démarcher afin d'avoir ma petite entreprise 
                            </p>
                            <p class="mb-0">
                                Donc voilà Global Cooking Center, en ce moment, c'est une petite entreprise agro-alimentaire qui emploie quelques personnes, 
                                avec comme principal produit les marinades So Good qui sont présent dans "Hypermarché Exclusive" et dans nos locaux mais aussi nous faisons de la cuisine, nous préparons des repas 
                                sur commande.
                                <br/>
                                <p>pouvez nous contactez via </p>
                                <div class="container row align-items-center align-self-center">
                                    <button type="button" class="btn col-2"> <i class="fa fa-whatsapp"></i></button>
                                    <button type="button" class="btn col-2"> <i class="fa fa-instagram"></i></button>
                                    <button type="button" class="btn col-2"> <i class="fa fa-facebook"></i></button>
                                  
                                </div> 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container row">
                <div class="col-5">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded align-self-center" src="{% static 'sonia/assets/img/img1.jpg' %}" alt="..." />
                </div>
                <div class="col-5">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded align-self-center" src="{% static 'sonia/assets/img/img2.jpg' %}" alt="..." />
                </div>
                <div class="col-5">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded align-self-center" src="{% static 'sonia/assets/img/flyer.jpg' %}" alt="..." />
                </div>
                <div class="col-5">
                    <video class="intro-img img-fluid mb-3 mb-lg-0 rounded align-self-center" autoplay aria-controls="">
                        <source src="{% static 'sonia/assets/img/video.mp4' %}" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </section>
{% endblock content%}