{% extends 'base.html' %}

{% load static %}

{% block extrahead %}

{% endblock extrahead %}


{% block title %}Accueil{% endblock title %}



{% block content%}
    <section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'sonia/assets/img/intro.jpg' %}" alt="..." />
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Global Cooking Center</span>
                            <span class="section-heading-lower">Une entreprise agro-alimentaire</span>
                        </h2>
                        <p class="mb-3">Global Cooking Center est une entreprise agro-alimentaire qui fait de la transformation 
                            de légumes verts sous forme de marinades. Nous faisons aussi des repas que nous vendons lors des déjeuner 
                            ou diner ou même pendant les grands évènement.
                            Vous pouvez nous contactez pour vos commandes
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Les produits So Good</span>
                                <span class="section-heading-lower">Des marinades pour rendre meilleur vos repas</span>
                            </h2>
                            <p class="mb-0">So Good sont des marinades à base de légumes vertes, faîtes pour donner de meilleurs goûts à vos repas. 
                                Pour le moment, nous ne produisons que 6 prodiuits à savoir : Nokoss, Sauce verte, Sauce barbecue, 
                                Puree de piment, Vinaigrette et Roff.
                            </p>
                            <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="{% url 'produits' %}">Voir nos produits!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock content%}
