{% extends 'base.html' %}

{% load static %}


{% block extrahead %}

{% endblock extrahead %}


{% block title %}Produit{% endblock title %}



{% block content%}

    {% for produit in produits %}
    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex ms-auto rounded">
                        <h2 class="section-heading mb-0">
                            <span class="section-heading-upper"> {{ produit.libelle }} </span>
                            <span class="section-heading-lower">{{ produit.prix }} FCFA</span>
                        </h2>
                    </div>
                </div>
                <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{ produit.image.url }}" alt="..." />
                <div class="product-item-description d-flex me-auto">
                    <div class="bg-faded p-5 rounded"><p class="mb-0">{{ produit.mode_d_emploi }}</p></div>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}
{% endblock content%}
