{% extends 'base.html' %}

{% load static %}


{% block extrahead %}

{% endblock extrahead %}


{% block title %}Produit{% endblock title %}



{% block content%}
<section class="page-section row justify-content-center">

    {% for produit in produits %}
        <div class="card mb-3 rounded" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{% static "" %}{{ produit.imageUrl }}" class="img-thumbnail rounded" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title section-heading-upper">{{ produit.libelle }} </h5>
                        <h5 class="section-heading-lower">{{ produit.prix }} FCFA</h5>
                        <p class="card-text">{{ produit.mode_d_emploi }}</p>
                        <p class="card-text"><small class="text-muted">{{ produit.ingredients }}</small></p>
                    </div>
                </div>
            </div>
      </div>

    {% endfor %}
</section>
{% endblock content%}
